h1 {
    color: turquoise;
    text-align: center;
}

p {
    text-align: left;
    border: 3px solid turquoise;
    margin: auto;
    width: fit-content;
    
    
    
}

a {
    display: left;
    color: black;
}

#Autor {
    color: turquoise;
    border: 3px solid black;
    border-radius: 50px;
    font-size: 20px;
    margin-top: 30px;
    width: fit-content;
}

#paragrafoscolunas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}