.CachorroPic {
    border: 5px dashed black;
    transition: border 250ms ease-in-out;
    

}

p {
    text-align: center;
    border: 2px solid beige;
    margin: auto;
}
ul {
    text-align: center;
}

li {
    text-align: center;
}

#Cachorrostexto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.CachorroPic:hover {
    border: solid 10px;
    
}