body {
    background-color: turquoise;
}
.Lista {
    border: 4px solid #ff007f;
    background-color: white;
    display: inline-block;
    width: 10%;
    
}

.Itens_Rosas {
    color: #ff007f;
}